<div class="card child">
  <div class="card-header">
    <h3 class="card-title"><i class="<%= img %>"></i> <%= title %> </h3>
    <h4 class="card-subtitle mb-2 text-muted"> <%= subtitle %> </h4>
  </div>
  <div class="card-body">
    <p class="cert-desc">
      <%= desc %>
    </p>
    <a class="btn btn-outline-primary btn-lg" href="<%= href %>" role="button">Certification</a>
  </div>
</div>
