<%- include("partials/header"); -%>

<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">Benjamin Coppe</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/bpc2003">Github</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/benjamin-coppe-8595451a4/">LinkedIn</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Contact-Me">Contact</a>
      </li>
    </ul>
  </div>
</nav>

<section class="top">
  <div class="child">
    <h1 class="header">Ben Coppe.</h1>
    <h3 class="subheader">A Web Developer.</h3>
  </div>
</section>

<section class="intro">
  <div class="child">
    <i class="fa-solid fa-hand hand-wave"></i>
    <h2 id="hello-there">Hello There</h2>
    <p>I'm a student trying to jump-start my career into web development</p>
    <p>and have skills that would make me ideal for any position</p>
  </div>
</section>


<section class="content">
  <div class="container-fluid">
    <div class="row">
      <% for(let i = 0; i < certificates.titles.length; i++) {%>
        <div class="col-6">
          <%- include("partials/card", {title: certificates.titles[i], desc: certificates.descs[i],
                                        href: certificates.hrefs[i]}); -%>
        </div>
      <% } %>
    </div>

    <div class="row lower">
      <div class="col-6">
        <h2>Technologies</h2>
        <%- include("partials/carousel"); -%>
      </div>
      <div class="col-6">
        <div class="child">
          <h2>Contact Me:</h2>
          <h3>Email & Phone Number: </h3>
          <p>
            Email: benjamin.p.coppe@gmail.com <br />
            Phone Number: +1 (631) 784-5973
          </p>

          <a href="/Contact-Me" class="btn btn-outline-dark btn-lg" role="button">Contact Me</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="footer">
  <a href="https://www.linkedin.com/in/benjamin-coppe-8595451a4/" class="footer-link"><i class="fa-brands fa-linkedin footer-img"></i> LinkedIn</a>
  <a href="https://github.com/bpc2003" class="footer-link"><i class="fa-brands fa-github footer-img"></i> GitHub</a>
  <a href="/Contact-Me" class="footer-link"><i class="fa-solid fa-globe footer-img"></i> Contact Me</a>
  <p>&copy; <%= currentYear %> Benjamin Coppe</p>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="scripts/index.min.js" charset="utf-8"></script>
<%- include("partials/footer"); -%>
